<div class="choose-container">
<h2 class="page-heading">comments (15)</h2>

<div class="comment-wrapper">
    {{ form_start(form, {'attr': {'class': 'comment-form', 'id':'comment-form'} }) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {{ form_widget(form.comment, {'attr': {'class': 'comment-form__text', 'name':'user-comment', 'placeholder':'Add you comment here'}}) }}


    {{ form_widget(form.sendComment, {'attr': {'class': 'btn btn-md btn--danger comment-form__btn'}}) }}
    {{ form_rest(form) }}

    {{ form_end(form) }}
</div>
</div>

{# Message de confirmation #}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <p>{{ flashMessage }}</p>
{% endfor %}