
<div class="comment-wrapper" {% if actif == 0 %}style="display: none"{% endif %} {% if parent_id is not empty %} id="comment-block-{{ parent_id }}" {% endif %}>

    {{ form_start(form, {'attr': {'class': 'comment-form', 'id':'comment-form'} }) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {{ form_widget(form.comment, {'attr': {'class': 'comment-form__text', 'name':'user-comment', 'placeholder':'Add you comment here'}}) }}


    {{ form_widget(form.sendComment, {'attr': {'class': 'btn btn-md btn--danger comment-form__btn'}}) }}
    {{ form_rest(form) }}

    {{ form_end(form) }}

    {# Message de confirmation #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
            <span class='icon-flag'></span>
        {{ flashMessage }}
    </div>
    {% endfor %}

</div>